input{
    color: black;
}

.btn {

    border: 0;
    position: relative;
    text-transform: uppercase;
    margin-left: 33%;
    margin-top:-33px;
}

.btn-blue {
    background-color: rgba(0,158,227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.bg-blue {
    background-color: #009EE3;
}

/* Sweep To Right */
.btn-effect {
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	display: inline-block;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
		  
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
		  
	-webkit-transition-property: color;
	   -moz-transition-property: color;
		-ms-transition-property: color;
			transition-property: color;
		  
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
		  
	-moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
			transform: scaleX(0);
			
	-webkit-transform-origin: 0 50%;
	   -moz-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
			transform-origin: 0 50%;
			
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
			transition-property: transform;
			
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
			
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
	color: #009EE3;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
			transform: scaleX(1);
}
/*=================================================================
	Diseño de los Botones
==================================================================*/
/*diseño boton*/
:root{
    --color: rgb(90, 90, 255);
	background-attachment: fixed;
}
/*diseño boton*/
.boton{
    margin-left: 59.90px;

	margin-top:50px;
    
}
.contenedor{
        display: flex;
        height: 10vh;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        margin-top:-15px;
        margin-left:15%;
        background-attachment: fixed;
        border:none solid; 
	    border-radius:10px;
        font-size: 130%;
}
/*tamaño y posicion del segundo boton*/
.contenedor2{
    display: flex;
    height: 10vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
	margin-top:-96px;
	margin-left:45%;
	background-attachment: fixed;
    border:none solid; 
	border-radius:10px;
    font-size: 130%;
}
    /*diseño de los botones */
/*diseño de los botones */
/*diseño de casilla de los botones*/
.btn-2{
        color: rgb(0, 0, 0);
        font-size: 105%;
        border-radius: 4px;
        background-color: none;
        background-attachment: fixed;
        margin-left: 5%;
}
.btn-2:hover{
       
        box-shadow: 0 0 20px var(--color);
        border-color: var(--color);
        background-attachment: fixed;
        color: rgb(0, 0, 0);
}
.btn-2 span:nth-child(2){
    position: absolute;
    width: 10px;
    height: 10px;
    color:rgb(0, 0, 0);
    transition: 0.6s;

}
/*diseño cudrados pequeños del boton*/
.btn-2 span:nth-child(2){
        left: 10%;
        bottom: -10px;
        background-attachment: fixed;
        color:rgb(0, 0, 0);
}
.btn-2:hover span:nth-child(2){
        left: 80%;
        transform: rotate(90deg);
        color: var(--color);
        background-attachment: fixed;
        color:rgb(0, 0, 0);
}
/*diseño del boton registrar*/
.btn-2 span:nth-child(1){
    right: 10%;
    top: -10px;
    background-attachment: fixed;
    color:rgb(0, 0, 0);
}
.btn-2:hover span:nth-child(1){
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
    background-attachment: fixed;
    background-color:none;
    color:rgb(0, 0, 0);
}
/*diseño de los botones */
/*diseño de casilla de los botones*/
.btn-3:hover{
    color: rgb(0, 0, 0);
}
.span{
border: 3px solid;
transition: all 0.6s ease;
}
/*=================================================================
	Termino del diseño de los botones
==================================================================*/

/*=================================================================
	Diseño de los Text Area
==================================================================*/


.titulomotivo-3{
    color: black;
	background-color:rgb(244, 240, 240);
	opacity:9;
	padding:40px;
	padding-top:-100px;
	padding-bottom:-124px;
	margin-top:10px;
	margin-bottom: 20px;
	border-radius: 5px;
	resize: none;
	background-attachment: fixed;
    position: relative;
}
.Descripcion-2{
    color: black;
	background-color:rgb(244, 240, 240);
	opacity:9;
	padding:40px;
	padding-top:-100px;
	padding-bottom:-124px;
	margin-top:10px;
	margin-bottom: 20px;
	border-radius: 5px;
	resize: none;
	background-attachment: fixed;
    position: relative;
}
.Recepcion-2{
	color: black;
	background-color:rgb(244, 240, 240);
	opacity:9;
	padding:40px;
	padding-top:-100px;
	padding-bottom:-124px;
	margin-top:10px;
	margin-bottom: 20px;
	border-radius: 5px;
	resize: none;
	background-attachment: fixed;
    position: relative;
}
.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}
/**	Header ==========================================*/
#navigation {
    -webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;

    background-color: rgba(0,0,0,.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}

#navigation.animated-header {
    padding: 20px 0;
}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    margin-top: -10%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

/*=================================================================
	informe 
==================================================================*/
.fecha-1{
    color: black;
}
.formados{
    margin-left: 20%;
    margin-top:-40px;
}
.forma-1_2{
    margin-left: 5%;
}
sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    margin-top: 100px;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #fff;
}

sec-titles {
    margin-bottom: 50px;
}

.sec-titles.white {
    color: #fff;
}

.sec-titles h2 {
    font-size: 36px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
    margin-top: 50px;
}

.sec-titles.white h2 {
    color: #fff;
}

.sec-titles h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-titles.white h2:after {
    border-bottom: 1px solid #fff;
}

/*=================================================================
	Testimonials
==================================================================*/
#testimonials {
    background-image: url(../../image/ovalle.jpg);
    padding: 0;
    color: #ffffff;
    margin-left:125px;
    margin-right:125px;
    border-radius: 20px;
    font-size: 19px;
}

#testimonials .sec-title h2:after {
    border-bottom: 1px solid #fff;
}

#testimonials .overlay {
    background-color:  rgba(59, 132, 169, 0.78);
    padding: 70px 0 40px;
    border-radius: 20px;
}

.testimonial-item {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 64%;
}

.testimonial-item img {
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: auto;
    max-width: 100px;
}

.testimonial-item > div {
    line-height: 30px;
    position: relative;
}

.testimonial-item > div:before {
    background-image: url("../img/icons/quotes.png");
    background-repeat: no-repeat;
    bottom: 127px;
    height: 33px;
    left: -35px;
    position: absolute;
    width: 45px;
}

.testimonial-item > div:after {
    background-image: url("../img/icons/quotes.png");
    background-position: -58px 0;
    background-repeat: no-repeat;
    bottom: -50px;
    height: 33px;
    position: absolute;
    right: 0;
    width: 45px;
}

.testimonial-item > div > span {
    display: inline-block;
    font-weight: 700;
    margin: 40px 0 30px;
    text-transform: uppercase;
}

#testimonials .owl-controls.clickable {
    margin-top: 20px;
    text-align: center;
}

#testimonials .owl-buttons {
    border: 2px solid #fff;
    float: inherit;
}

#testimonials .owl-prev:hover,
#testimonials .owl-next:hover {
    color: #fff;
}
/*============================================================
	Google Maps
==============================================================*/

#google-map {
    padding: 0;
}
#map-canvas {
    width: 100%;
    height: 170px;
}
/*============================================================
	Footer
==============================================================*/
#footer {
    background-color: #2E2E2E;
    padding: 70px 0;
    color: #fff;
    margin-top: 20px;
}
.footer-content {
    width: 390px;
    margin: 0 auto;
}
.footer-content > div {
    margin-bottom: 40px;
}
.footer-content > div > p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.subscribe-form {
    position: relative;
}
.subscribe.form-control {
    background-color: transparent;
    border: 1px solid #7f7f7f;
}
.subscribe.form-control:focus {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.submit-icon {
    background-color: #7f7f7f;
    border: 0 none;
    border-radius: 0;
    color: #c1c1c1;
    padding: 13px 20px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}
.submit-icon .fa-paper-plane {
    position: relative;
    top: 0;
    
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: all 0.3s ease 0.2s;
       -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
         -o-transition: all 0.3s ease 0.2s;
            transition: all 0.3s ease 0.2s;
}
.submit-icon:hover .fa-paper-plane {
    position: relative;
    top: -37px;
    
    -webkit-transform: translateX(30px);
       -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
         -o-transform: translateX(30px);
            transform: translateX(30px);
}
.footer-content .footer-social {
    margin: 40px 0 35px;
}
.footer-social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
}
.footer-social ul li a {
    color: #7f7f7f;
    display: block;
    
    -webkit-transition: all 0.2s ease 0s;
       -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
         -o-transition: all 0.2s ease 0s;
            transition: all 0.2s ease 0s;
}
.footer-social ul li a:hover {
    color: #009EE3;
}
.footer-content > p {
    color: #ababab;
    font-size: 12px;
}
/*============================================================ 
	Estilo Responsivo 
 ============================================================*/

/*============================================================
	Para Pc
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {
    #about .welcome-block img {
        margin-bottom: 30px;
    }
    figcaption.mask {
        bottom: -151px;
    }
    .testimonial-item > div:after {
        bottom: -40px;
    }
}
/*============================================================
	para Tablet con el tamaño de pantalla 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
    .caption-content h2 {
        font-size: 40px;
    }
    .caption-content p {
        font-size: 25px;
    }
    .caption-content strong {
        font-size: 45px;
    }
    .recent-works {
        margin-bottom: 50px;
    }
    .service-item {
        margin-bottom: 50px;
    }
    .portfolio-item {
        width: 48%;
    }
    .testimonial-item {
        width: 100%;
    }
    .testimonial-item {
        width: 80%;
    }
    .testimonial-item > div:after {
        bottom: -35px;
    }
    .price-table {
        margin-bottom: 50px;
    }
/* form de Informe */
    .contact-form {
        margin-bottom: 50px;
    }
}
/*============================================================
	para Mobile de 320px
==============================================================*/
@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .parallax {
        background-position: centet tip !important;
    }
    .sec-title h2 {
        font-size: 25px;
    }
    .sec-title h2:after {
        left: 30%;
    }
/*navigation*/
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }
/* slider */
    .caption-content h2 {
        font-size: 18px;
    }
    .caption-content > span {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .caption-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .caption-content strong {
        font-size: 22px;
    }
/* about */
    .recent-works {
        margin-bottom: 85px;
    }
    #about h3 {
        font-size: 18px;
        margin: 0 0 35px !important;
    }
    #about .owl-buttons {
        margin-top: 20px;
    }
    #about .message-body {
        margin-bottom: 45px;
    }
    #about .welcome-block img {
        margin: 0 25px 15px 0;
    }
/* service */
    .service-item {
        width: 100%;
    }
/*portfolio*/
    .portfolio-item {
        margin: 0 auto 10px;
        font-size: 14px;
        width: 280px;
    }
    figcaption.mask {
        bottom: -107px;
        color: #fff;
        padding: 15px;
    }
/* lightbox */
    .fancybox-title h3 {
        font-size: 20px;
    }
    .fancybox-title p {
        font-size: 14px;
    }
/* testimonial */
    .testimonial-item {
        width: 95%;
    }
    .testimonial-item > div:before,
    .testimonial-item > div:after {
        background-image: none;
    }
    .testimonial-item > div > span {
        margin: 30px 0 20px;
    }
/* price */
    .price-table {
        margin-bottom: 50px;
    }
/* follow us */
    .social-button li:nth-child(2) {
        margin: 0 25px;
    }

    .social-button li a {
        height: 65px;
        line-height: 71px;
        width: 65px;
    }
/* contact form */
    .contact-form {
        margin-bottom: 50px;
    }
/* footer */
    .footer-content {
        width: 100%;
    }
    .footer-social ul li {
        margin: 0 7px;
    }
}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sec-title h2:after {
        left: 38%;
    }
/* home slider */
    .caption-content h2 {
        font-size: 35px;
    }
    .caption-content p {
        font-size: 25px;
    }
    .caption-content strong {
        font-size: 35px;
    }
/*about*/
    #about .welcome-block h3 {
        margin: 0 0 35px;
    }
/* service */
    .service-item {
        margin: 0 auto 50px;
        width: 55%;
    }
/* portfolio */
    .portfolio-item {
        width: 48%;
    }
    figcaption.mask {
        bottom: -132px;
    }
/* testimonial */
    .testimonial-item {
        width: 80%;
    }
    .testimonial-item > div:before {
        bottom: 160px;
    }
/* social */
    .social-button li:nth-child(2) {
        margin: 0 50px;
    }
    .social-button li a {
        height: 90px;
        line-height: 96px;
        width: 90px;
    }
/* price */
    .price-table {
        margin-bottom: 50px;
    }
/* contact form */
    .contact-form {
        margin-bottom: 50px;
    }
/* footer */
    .footer-content {
        width: 380px;
    }
}
