@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.ventana{
  color:white;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border:white;
      border: 3px solid #ffffff;
    background-color: transparent;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:-250px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #IrVentanaFlotante:target{
    opacity:1;
    pointer-events:auto;
  
  }
  /*.opcion{/*width: 100px;
          background-color:yellow;
  border:1px solid black;}*/

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

html, body{background: rgb(236, 240, 241);}

  section.container{
    min-width: 500px;
    margin: 10% auto;
    text-align: center;
  }
   
    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;

      border: 2px solid #111;
      padding: 15px 50px;
      overflow: hidden;
    }

    /*button:before (attr data-hover)
    button:hover:before{opacity: 1; -webkit-transform: translate(0,0); transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      -webkit-transform: translate(-100%,0);
              transform: translate(-100%,0);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)
      button:hover div{opacity: 0; -webkit-transform: translate(100%,0); transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
*/
label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.td{
width: 110%;
}
.form-2{
margin-top: -5%;
}
.titulo{
  margin-left: 33%;
}

body .btn-bg1 {
  width: 100%;
  margin-top: -2.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -30%;
  margin-top: 2%;
  position: static;
}
body .btn-bg {
  width: 100%;
  margin-top: -4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -5%;
  position: static;
}
body .btn-bg3 {
    width: 100%;
    margin-top: -4.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -27%;
    position: static;
  }
/*BOTON BUSCAR 1*/
body .btn-bg1.bg1-1 .btn-1 button {
  color: #ffffff;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-left: 5%;
  margin-top: -5%;
  font-size: 30px;
}
body .btn-bg1.bg1-1 .btn-1 button a {
  color: #c7f8f9;
}
body .btn-bg1.bg1-1 .btn-1 button:hover {
  background: rgb(58, 59, 59);
  color: #03cbd9;
  border: 3px solid #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg1.bg1-1 .btn-1 button:hover >a {
  color: #6ab1c9;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
body .btn-bg1.bg1-1 .btn-1 button:active {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
/*BOTON BUSCAR 3*/
body .btn-bg3.bg-3 .btn-1 button {
    color: #ffffff;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
      margin-left: 160%;
      margin-top:-13.5%;
      margin-bottom: -20%;
        font-size: 30px;
      
    }
    
    body .btn-bg3.bg-3 .btn-1 button a {
      color: #c7f8f9;
    }
    body .btn-bg3.bg-3 .btn-1 button:hover {
      background: rgb(58, 59, 59);
      color: #03cbd9;
      border: 3px solid #6ab1c9;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    body .btn-bg3.bg-3 .btn-1 button:hover >a {
      color: #6ab1c9;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    body .btn-bg3.bg-3 .btn-1 button:active {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px);
    }

  /*BOTON BUSCAR 2*/
body .btn-bg.bg-2 .btn-1 button {
   color: #ffffff;
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
      margin-left: -15%;
      margin-top: -23%;
      margin-bottom: -20%;
        font-size: 30px;
  }
  
  body .btn-bg.bg-2 .btn-1 button a {
    color: #c7f8f9;
  }
  body .btn-bg.bg-2 .btn-1 button:hover {
    background: rgb(58, 59, 59);
    color: #03cbd9;
    border: 3px solid #6ab1c9;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  body .btn-bg.bg-2 .btn-1 button:hover >a {
    color: #6ab1c9;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  body .btn-bg.bg-2 .btn-1 button:active {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }



.btn {
  margin: -30px auto 0px auto;
  display: block;
}
h2 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
  
}
.button1{
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-webkit-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-o-keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@keyframes cloud-animation {
  100% {
    background-position: 0px 2em;
  }
}
@-moz-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}
@keyframes witch-word-color {
  0% {
    color: #d3b7f7;
  }
  50% {
    color: #50514f;
  }
  100% {
    color: #fff;
  }
}